/*
google fonts

font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
/*google css section here*/
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
a,a:hover{
	text-decoration: none;
}
/*header section css*/
header{
	width: 100%;
	background: url(../img/banner2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.menu-bar{
	width: 100%;
	float: left;
	padding: 30px 10px;


}
.logo{
	width: 30%;
	float: left;
}
.menu-item{
	width: 70%;
	float: left;
	text-align: right;
}

.contact-no img{
	vertical-align: middle;
}
.contact-no span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	vertical-align: middle;
	color: chocolate;
}
.main-menu{
	margin: 14px 0;
}
.main-menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 52px;

}
.main-menu ul li a{
	font-family: 'Bebas Neue', cursive;
	
	color: chocolate;
	letter-spacing: 4px;
	font-size: 18px;
	font-weight: 500;
}
.banner{
	width: 100%;
	float:left;
}
.banner-left{
	width: 50%;
	float: left;
}
.banner-right{
	width: 50%;
	float:left; 
}
.left-content{
	height: 60vh;
	display: table-cell;
	vertical-align: middle;
}
.left-content p{
	border: 2px dashed black;
	padding: 10px;
	font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: chocolate;
    font-size: 20px;
    display: inline-block;
}
.left-content h1{

font-family: 'Alfa Slab One', cursive;
text-transform: uppercase;
font-size: 83px;
color: chocolate;
letter-spacing: 4px;
text-shadow: 3px 3px white;

}
.left-content h2{

font-family: 'Alfa Slab One', cursive;
text-transform: uppercase;
color: chocolate;
letter-spacing: 4px;
font size: 63px;
text-shadow:2px 2px white;
}
.right-content{
	height: 60vh;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.right-content img{

}
.right-content .circle{
	height: 120px;
	width: 120px;
	background: red;
	text-align: center;
	
	color: white;
	border-radius:100%; 
	position: absolute;
	top: 45%;
	bottom: 30%
	left:45%;

}
.inner-box{
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	color: white;
	background: red;
	border-radius:100%;
	border: 2px dashed white;
	position: absolute;
	top: 8px;
	left: 8px; 
}
.right-content .circle h1 span{
	font-size: 18px;

}
.Burger-Slider{
	width: 100%;
	display: flow-root;
	padding: 80px 0;

}
.slider-box{
	background: white;
	width: 100%;
	float: left;
	padding: 15px;
	box-shadow: 15px 15px 20px 10px rgba(0,0,0);
}
.slider-left{
	width: 50%;
	float: left;
}
.slider-right{
	width: 50%;
	float: right;
}
.slider-left-content{
	padding: 36px;
}
.slider-left-content .sub-title{
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	letter-spacing: 2px;
}
.slider-left-content h1{
	font-family: 'Alfa Slab One', cursive;
	color: chocolate;
	text-transform: uppercase;
	font-size: 34px;
	letter-spacing: 2px;
}
.slider-left-content .desc{
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 15px;
}